@import "tailwindcss";

@layer components {
  .primary-button {
    @apply p-2 bg-sky-600 hover:bg-sky-700 text-gray-100 font-bold rounded-md;
  }

  .secondary-button {
    @apply p-2 bg-gray-800 hover:bg-gray-900 text-gray-100 font-bold rounded-md;
  }
}
